* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin-left: 1rem;
  background-image: url("/img/circuito.jpg");
  color: white;
}
body header {
  margin-top: 1rem;
  display: flex;
  width: 98vw;
}
body header .header__logo {
  display: flex;
  background-image: url("../img/estrellas.gif");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #4f9, inset 0 0 20px #4f9;
  border-radius: 10%;
  height: 16rem;
  width: 15vw;
}
body header .header__logo .header__logo__span1, body header .header__logo .header__logo__span2 {
  font-size: 4rem;
  animation: "efecto_leds" 1.5s linear infinite;
}
body header .header__logo .header__logo__span2 {
  font-size: 1rem;
}
body header .header__banner {
  display: grid;
  width: 80vw;
  padding-left: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
body header .header__banner .header__banner__logo {
  box-shadow: 0 0 20px #4f9, inset 0 0 20px #4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
body header .header__banner .header__banner__logo img {
  border-radius: 10%;
  width: 90%;
  height: 15rem;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
main .main__hardware {
  order: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 60%;
}
main .main__hardware h1 {
  display: block;
  text-align: center;
  margin-top: 2rem;
  text-shadow: 2px 2px #14bc25;
  width: 100%;
  float: center;
}
main .main__hardware #procesador {
  background-image: url("/img/procesador.jpg");
  background-size: 100% 100%;
}
main .main__hardware #motherboard {
  background-image: url("/img/motherboard.jpg");
  background-size: 100% 100%;
}
main .main__hardware #memoria {
  background-image: url("/img/ram.jpeg");
  background-size: 100% 100%;
}
main .main__hardware #almacenamiento {
  background-image: url("/img/el-disco-duro-1.webp");
  background-size: 100% 100%;
}
main .main__hardware #grafica {
  background-image: url("/img/tarjeta de video.webp");
  background-size: 100% 100%;
}
main .main__hardware #gabinete {
  background-image: url("/img/gabinete.jpg");
  background-size: 100% 100%;
}
main .main__hardware #monitor {
  background-image: url("/img/monitor.jpg");
  background-size: 100% 100%;
}
main .main__hardware #teclado {
  background-image: url("/img/teclado.jpg");
  background-size: 100% 100%;
}
main .main__hardware #raton {
  background-image: url("/img/mouse.jpg");
  background-size: 100%;
}
main .main__hardware h2 {
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  margin-top: 1rem;
  text-shadow: 0.1em 0.1em 0.2em greenyellow;
}
main .main__hardware .main__hardware__componente {
  border: 0.5rem solid rgb(18, 195, 11);
  height: 15rem;
  width: 15rem;
  display: flex;
  margin: 1rem;
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: grayscale(70%);
}
main .main__hardware .main__hardware__componente img {
  width: 100%;
  height: 100%;
}
main .main__hardware .main__hardware__componente:hover {
  filter: grayscale(0%);
  box-shadow: 0 0 20px #4f9;
}
main .main__modal {
  display: flex;
  flex-direction: column;
  background-color: black;
  animation: "slide" 1.5s linear;
  background-size: cover;
  position: absolute;
  border-radius: 10px;
  left: 1rem;
  top: 10rem;
  max-width: 80vw;
  border: 2px solid rgb(11, 241, 80);
  background-color: rgb(15, 16, 15);
}
main .main__modal .main__modal__barraT {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .main__modal .main__modal__barraT .main__modal__cerrar {
  border-radius: 10px;
  margin: 0.4rem;
  width: 2rem;
  height: 2rem;
  background-color: rgb(243, 12, 12);
  color: rgb(236, 225, 225);
  float: right;
}
main .main__modal .main__modal__categoria, main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__titulo {
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  text-transform: uppercase;
}
main .main__modal .main__modal__ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item {
  display: flex;
  background-color: rgb(11, 10, 10);
  border-color: green;
  flex-direction: column;
  border-radius: 5%;
  border-style: solid;
  margin: 2rem 1rem;
  height: 20rem;
  width: 20rem;
  box-shadow: 0 0 10px #4f9;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__titulo {
  background-color: green;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item img {
  width: 100%;
  height: 80%;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item img:hover {
  cursor: pointer;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__precio {
  display: flex;
  width: 98%;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__precio .precio__articulo {
  float: left;
  background-color: black;
  color: #4f9;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__precio .bottonAgregar {
  background-color: black;
  color: rgb(28, 198, 28);
  border-color: #4f9;
  margin-left: 1rem;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__descripcion {
  display: flex;
  padding-left: 3rem;
  background-color: black;
  width: 20rem;
  height: 20rem;
  margin-top: 3rem;
  flex-direction: column;
  position: absolute;
  opacity: 0.7;
  align-self: center;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__descripcion ul {
  height: 14rem;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__descripcion ul li {
  color: rgb(57, 205, 57);
  margin-top: 1rem;
}
main .main__modal .main__modal__ofertas .main__modal__ofertas__item .main__modal__ofertas__item__descripcion .btnCerrar {
  background-color: black;
  color: rgb(28, 198, 28);
  border-color: #4f9;
  font-size: 1.5rem;
}
main .main__carrito {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 25rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.549);
  border: 5px solid rgba(0, 255, 81, 0.268);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 2rem;
  color: #14bc25;
}
main .main__carrito .main__carrito__componentes {
  height: auto;
  overflow-y: auto;
}
main .main__carrito .main__carrito__titulo {
  text-shadow: 0.1em 0.1em 0.2em greenyellow;
  color: rgb(222, 238, 229);
}
main .main__carrito .main__carrito__table {
  margin-top: 2rem;
}
main .main__carrito .main__carrito__table .botonQuitar {
  background-color: red;
  color: white;
  border-radius: 20rem;
  width: 3rem;
  height: 3rem;
}
main .main__carrito .main__carrito__table .botonQuitar img {
  width: 2rem;
  height: 2rem;
}
main .main__carrito .main__carrito__table .main__carrito__table__img {
  height: 94%;
  width: 100%;
}
main .main__carrito .main__carrito__table tr {
  animation: "aparecer" 0.25s linear;
}
main .main__carrito .main__carrito__table td {
  text-align: center;
  background-color: white;
  border: 3px solid black;
  color: black;
  height: 5rem;
}
main .main__carrito__total {
  height: 20%;
  width: 100%;
}
main .main__carrito__total form fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 1rem;
}
main .main__carrito__total form fieldset label {
  margin-right: 1rem;
}
main .main__carrito__total form fieldset input {
  border-color: #14bc25;
  color: rgb(36, 190, 36);
  text-align: center;
  background-color: black;
  margin-right: 1rem;
  height: 2rem;
}
main .main__carrito__total form fieldset button {
  border-color: greenyellow;
  background-color: rgb(12, 64, 32);
  color: rgb(150, 234, 150);
  height: 4rem;
  width: 8rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
main .main__carrito__total form fieldset button img {
  height: 3rem;
  width: 3rem;
}

.imagen__articulo {
  width: 19rem;
  height: 29%;
}

footer {
  margin-left: 3rem;
}

@keyframes slide {
  from {
    left: -100rem;
  }
  to {
    left: 5rem;
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(400px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes efecto_leds {
  from {
    text-shadow: 0 0 15px rgb(0, 255, 0), 0 0 25px rgb(43, 255, 0), 0 0 45px rgb(18, 173, 34), 0 0 85px rgb(43, 255, 0);
    color: green;
  }
  to {
    color: white;
    text-shadow: 0 0 15px rgb(2, 19, 2), 0 0 25px rgb(24, 25, 24), 0 0 45px rgb(2, 16, 3), 0 0 45px rgb(4, 12, 2);
  }
}
@media (max-width: 980px) {
  body header {
    width: 99vw;
  }
  body header .header__logo {
    margin-left: 1rem;
    height: 16rem;
    width: 25%;
  }
  body header .header__banner {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: center;
  }
  body header .header__banner #cuadro-3,
body header .header__banner #cuadro-4 {
    display: none;
  }
  body main {
    width: 100vw;
  }
  body main .main__hardware {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  body main .main__carrito {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body header .header__logo {
    border-style: solid;
    width: 45%;
  }
  body header .header__banner {
    width: 45%;
  }
  body header .header__banner #cuadro-1 {
    display: none;
  }
  main .main__hardware {
    order: 1;
  }
  main .main__carrito {
    order: 0;
  }
  .swal2-popup {
    width: 100vw !important;
  }
}
.swal2-popup {
  background-color: black;
  border: 2px solid green;
  box-shadow: 0 0 10px #4f9;
  opacity: 0.9;
  width: 40vw;
}
.swal2-popup .swal2-title {
  background-color: #0a4410;
  color: rgb(241, 228, 228);
  display: block;
  text-align: center;
  text-shadow: 2px 2px #14bc25;
  text-transform: uppercase;
}
.swal2-popup .swal {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.swal2-popup .swal ul {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.swal2-popup .swal ul li {
  display: inline;
  width: max-content;
}
.swal2-popup .swal ul li img {
  width: 1.5rem;
  height: 1.5rem;
}
.swal2-popup button {
  background-color: #0a4410 !important;
}

/*# sourceMappingURL=estilos.css.map */
